/*
	Temporal by Jesús Camacho
	http://zagur.gitlab.io | @zagurito
	Version: 0.2
	GNU GENERAL PUBLIC LICENSE v3 | https://www.gnu.org/licenses/gpl-3.0.txt
*/

/* CONTENT TABLE

+ GLOBAL
+ NAVBAR
+ MAIN
+ COUNTDOWN
+ FOOTER

*/

/* GLOBAL */

body {
	background: #1A1A1A;
    font-family: 'Voltaire', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFF;
    background: url(../img/main-bg.jpg) no-repeat scroll center top #1A1A1A;
}

a {
	color: #FFF;
}

a:hover {
	color: #1A1A1A;
}

/* NAVBAR */
.navbar-temporal {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.navbar-nav > li > a {
	padding-right: 35px;
	padding-top: 25px;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #1a1a1a;
}

/* MAIN */
.jumbotron {
	background-color: transparent;
}

.jumbotron h1 {
	text-transform: capitalize;
	font-weight: bold;
}

.jumbotron h2 {
	font-size: 25px;
}

/* COUNTDOWN */
#countdown {
    font-family: "Roboto Slab";
    font-weight: bold;
    text-align: center;
    font-size: 52pt;
}

#countdown li {
    margin-left: 25px;
    margin-right: 25px;
}

.item {
    float: unset;
    font-size: 12px;
    font-family: "Voltaire";
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 8px;
}


/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

p.copyright {
	margin-top: 50px;
	color: #fff;
	text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {

}

@media (max-width: 1084px) { /* .col-lg- */

}

@media (max-width: 990px) { /* .col-md- */
	#countdown {
		font-size: 40pt;
	}
}
							/* .col-sm- */
@media (max-width: 760px) { /* .col-xs- */
	.nav > li {
		display: inline-flex;
	}

	.navbar-toggle {
		margin-right: 20px;
    	margin-top: 15px;
	}

	.navbar-default .navbar-toggle {
	    border: none;
	    background-color: transparent;
	    border-radius: 0px;
		transition: all .4s;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: transparent;
		transition: all .4s;
	}
	.navbar-default .navbar-toggle .icon-bar {
		color: #FFF;
		background-color: #FFF;
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none;
		box-shadow: none;
	}
}
